body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: "PT Mono";
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 2em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.4em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444 !important;
}

img {
    max-width: 100% !important;
}

h2, h3, h4, h5, h6 {
    color: #ee4444 !important;
    font-family: "PT Mono" !important;
}

h2 {
    margin-bottom: -15px !important;
    margin-top: 25px !important;
}

blockquote{
    font-size: 13px;
    font-style: oblique;
}

.utterances {
    max-width: none;
    border-top: solid 1px gray;
}