---
layout: default
title: "Story"
---

<div class="well">
    <h1>思考</h1>
    <ul>
        {%for post in site.stories %}
        {% if post.hidden %}
        {% continue %}
        {% endif %}
        {% if post.category == "thoughts" %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <h1>经历</h1>
    <ul>
        {%for post in site.stories %}
        {% if post.hidden %}
        {% continue %}
        {% endif %}
        {% if post.category == "experience" %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <h1>总结</h1>
    <ul>
        {%for post in site.stories %}
        {% if post.hidden %}
        {% continue %}
        {% endif %}
        {% if post.category == "summary" %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
