<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% if page.title %}
            {{ page.title }} -
        {% endif %}
        {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
    <link rel="canonical"  href="{{ site.baseurl}}{{ page.url }}">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2756581398487496",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">Archives</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/story.html">Story</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/book_list.html">Read</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
                    {% if site.github != '' %}
                      <li class="active"><a target="_blank" href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                </ul>
              </div>
        </div>
    </div>
</div>
