{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            <div class="article">
                <div class="well">
                    <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title
                        }}</a></h1>
                    <p class="author"><span>{{ page.content | strip_html | strip_newlines | split: "" | size }} Word Count </span>
                    </p>
                    <div class="post-content">
                        {{ content }}
                    </div>
                    {% if site.reward %}
                        {% include reward.html %}
                    {% endif %}
                </div>
                {% if site.comments %}
                    {% if page.comments %}
                        {% include comments.html %}
                    {% else %}
                        <hr>
                        comments forbidden.
                    {% endif %}
                {% else %}
                    <hr>
                    comments forbidden.
                {% endif %}
            </div>
            <div class="pagination">
                {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
                {% endif %}
                {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older
                    Post</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% include footer.html %}